* {
    font-family: monospace;
}
body {
    background-color: rgb(211, 211, 211);
}

/* code for colored bars */
.solidblock {
    background-color: #ffdd00;
    padding: 5px;
}
.solidblock2 {
    background-color: rgb(255, 237, 156);
    padding: 5px;
}
/* --- */


/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 16px;
}
header h1 {
    font-size: 46px;
    text-align: center;
    width: 375px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
}
header ul {
    display: inline-flex;
    justify-content: space-evenly;
    width: 375px;
    margin-bottom: 10px;
}
header li {
    height: 25px;
    color: white;
    justify-content: space-evenly;
}
/* end of header */


/* hero with responsive design */
.hero {
    display: flex;
    margin-top: 2%;
    height: 300px;
    margin-left: 4%;
    margin-right: 4%;
    flex-direction: column;
    background-color: white;
    box-shadow: 10px 10px black;
}
.hero h1 {
    color: black;
    font-size: 100px;
    margin-top: 25px;
    text-align: center;
}
.hero h2 {
    color: black;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
}
.hero h3 {
    color: black;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
}
/* --- */
/* highlighting name and role */
#webdev, #nameid {
    color: gray;
    font-size: 25px;
}
/* -- */


/* about me with responsive design*/
#aboutme {
    display: flex;
    flex-direction: column;
    height: auto;
    box-shadow: 10px 10px black;
    background-color: darkgray;
    margin-left: 4%;
    margin-right: 4%;
}
#aboutme h1 {
    font-size: 50px;
    text-align: center;
    margin: 4%;
}
#aboutme h2 {
    font-size: 24px;
    color: black;
    margin: 6%;
}
/* --- */


/* projects section completely centered */
#projects > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#projects h1 {
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 60px;
}
#projects ul {
    margin-top: 2%;
    margin-bottom: 2%;
}
#projects li {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 24px;
}
#projects img {
    margin-top: 2%;
    margin-bottom: 2%;
}
#projects p {
    margin-top: 2px;
    margin-bottom: 2px;
}
/* --- */

/* form using 100% width. inputs are responsive */
#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
    margin: 0;
    border: 0;
    padding: 0;
}
#form h2 {
    color: white;
    font-size: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
}
#form input {
    margin-bottom: 4%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
/* --- */


footer {
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 24px;
    text-align: left;
    padding-bottom: 5px;
}

/* adapted from mobile to desktop. could be cleaner ( */
@media screen and (min-width: 768px){
    header ul {width: 800px;}
    header ul {font-size: 24px;}

    .hero {margin-left: 20%;}
    .hero {margin-right: 20%;}
    
    #aboutme {margin-left:20%;}
    #aboutme {margin-right:20%;}
    #aboutme h2 {font-size:30px;}
    #aboutme h1 {font-size:90px;}
    
    #projects {font-size: 24px;}
    #projects li {font-size: 50px;}
    #projects p {margin-bottom: 4%;}
    
    #form input {height: 40px;}
}